<md-card>
  <md-card-header class="cv-card">
    <i md-card-avatar class="fa fa-cog fa-lg" aria-hidden="true"></i>
    <md-card-title>Compétences</md-card-title>
  </md-card-header>
  <md-divider></md-divider>
  <md-card-content layout="row" layout-wrap>
    <div *ngFor='let category of categories' class="skill-category" flex="50" flex-xs="100" layout-padding>
      <h1>{{category.name}}</h1>
      <div *ngFor='let skill of category.skills | orderByMastery' class="skill-row">
        <span class="skill-name"><strong>{{skill.name}}</strong> : </span>
        <md-progress-bar *ngIf="skill.percentage" mode="determinate" [value]="skill.percentage"></md-progress-bar>
      </div>
      <span *ngIf="category.tools.length > 0">
          <strong>Autres : </strong>{{category.tools | join:', '}}
      </span>
    </div>
  </md-card-content>
</md-card>
