<md-card>
  <md-card-header class="cv-card">
    <i md-card-avatar class="fa fa-briefcase fa-lg" aria-hidden="true"></i>
    <md-card-title>Experiences</md-card-title>
  </md-card-header>
  <md-divider></md-divider>
  <md-card-content layout="column">
    <md-list>
      <md-list-item *ngFor="let experience of experiences">
        <i md-list-avatar class="fa fa-circle fa-lg" aria-hidden="true"></i>
        <h4 md-line>{{experience.startDate}} à {{experience.endDate}}</h4>
        <h4 md-line><a href="{{experience.companyUrl}}" target="_blank">{{experience.company}}</a> : {{experience.jobTitle}}</h4>
        <p md-line class="description">{{experience.description}}</p>
        <p md-line class="keywords">{{experience.keywords | join:', '}}</p>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
